html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
margin:0;
padding:0;
font-family: 'Noto Sans', sans-serif;
}

body {
font-family:museo-sans-rounded, "Helvetica Neue", Verdana, sans-serif;
font-weight:300;
text-shadow:#fff 0 1px 0;
color:#2d2d2d;
font-size:90%;
line-height:1.375em;
min-height:990px;
max-width:68.688em;
margin:2.75em auto 8.25em;
}
#slideshow {
	text-align: center;
}
.item-img{
	height: 200px !important;
}

ol,ul {
list-style:none;
}

blockquote,q {
quotes:none;
}

table {
border-collapse:collapse;
border-spacing:0;
}

html {
-webkit-font-smoothing:antialiased;

border:50px solid #53777A;
padding:0 2.75em;
}

h1 {
	font-family: 'Julius Sans One', sans-serif;
font-size:5em;
line-height:1.333em;
margin-bottom:.138em;
}

h2 {
font-size:2.25em;
line-height:1.333em;
margin-bottom:.306em;
}

h3 {
font-size:1.5em;
line-height:1.333em;
margin-bottom:.458em;
}

h4 {
font-size:1.313em;
line-height:1.333em;
margin-bottom:.524em;
}

h1 img,h2 img,h3 img,h4 img,h5 img,h6 img {
margin:0;
}

p {
margin:0 0 1.375em;
}

img {
max-width:100%;
height:auto;
}

img[align=right] {
float:right;
margin:0 0 1.375em 1.375em;
}

a {
border-bottom:1px dashed #2d2d2d;
color:#2d2d2d;
text-decoration:none;
}

a:hover,a:focus {
border-bottom:1px dashed #e6262d;
color:#e6262d;
}

blockquote p {
font-size:1.5em;
line-height:1.5em;
}

em,dfn {
font-style:italic;
}

sup,sub {
line-height:0;
}

sup {
color:#2d2d2d;
vertical-align:super;
}

abbr,acronym {
border-bottom:1px dotted #2d2d2d;
}

li ul,li ol {
margin:0 1.375em;
}

ol {
list-style-type:decimal;
margin:2.75em 0 2.75em 1.719em;
}

ul {
margin:2.75em 0;
}


.post ul li {
padding-left:1.419em;
}

form ul.form-structure li {
background:none;
margin-bottom:.688em;
position:relative;
padding:0;
}

form.error label:not(.error) {
text-indent:-9999px;
}

label {
font-family:museo-sans-rounded, "Helvetica Neue", Verdana, sans-serif;
font-weight:500;
cursor:text;
display:block;
}

.js .label-placeholders label {
font-family:museo-sans-rounded, "Helvetica Neue", Verdana, sans-serif;
font-weight:300;
position:absolute;
top:0;
margin:1px 2px;
padding:.688em;
}

.js .label-placeholders label.error {
color:#E69999;
}

label.dim {
opacity:0.25;
}

input[type=text],textarea {
-moz-border-radius:4px;
-webkit-border-radius:4px;
-o-border-radius:4px;
-ms-border-radius:4px;
-khtml-border-radius:4px;
border-radius:4px;
font-family:museo-sans-rounded, "Helvetica Neue", Verdana, sans-serif;
font-weight:300;
background:linear-gradient(#fbfbfa,#fbfbfa);
background-color:#fbfbfa;
border:1px solid #cbc9c5;
color:#2d2d2d;
font-size:1em;
line-height:1.375em;
outline:none;
padding:.688em;
}

input[type=text]:focus,textarea:focus {
background:linear-gradient(#ffffff,#ffffff);
-moz-box-shadow:inset 0 2px 2px rgba(0,0,0,0.1);
-webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.1);
-o-box-shadow:inset 0 2px 2px rgba(0,0,0,0.1);
box-shadow:inset 0 2px 2px rgba(0,0,0,0.1);
background-color:#fff;
}

input[type=text].error,textarea.error {
background:linear-gradient(#f8dbdb,#f8dbdb);
}

input[type=submit] {
font-family:museo-sans-rounded, "Helvetica Neue", Verdana, sans-serif;
font-weight:300;
background:linear-gradient(top,#848484,#848484);
-moz-border-radius:4px;
-webkit-border-radius:4px;
-o-border-radius:4px;
-ms-border-radius:4px;
-khtml-border-radius:4px;
border-radius:4px;
-moz-box-shadow:none;
-webkit-box-shadow:none;
-o-box-shadow:none;
box-shadow:none;
text-shadow:none;
background-color:#848484;
border:1px solid #848484;
color:#FFF;
cursor:pointer;
display:block;
font-size:1.125em;
outline:none;
position:relative;
text-decoration:none;
padding:.611em 1.222em;
}

input[type=submit]:hover {
background:linear-gradient(top,#6b6b6b,#6b6b6b);
}

input[type=submit]:active {
background:linear-gradient(top,#515151,#515151);
}


#site-header {
border-bottom:1px solid #2d2d2d;
height:37px;
padding-bottom:2.063em;
}

.primary-nav {
float:right;
margin-top:7px;
}

.primary-nav ul li {
background:none;
margin-bottom:0;
display:block;
float:left;
margin-left:.313em;
padding:0;
}

.primary-nav ul li a {
-moz-transition-property:background-color;
-webkit-transition-property:background-color;
-o-transition-property:background-color;
transition-property:background-color;
-moz-transition-duration:.2s;
-webkit-transition-duration:.2s;
-o-transition-duration:.2s;
transition-duration:.2s;
border:none;
font-size:1.125em;
margin:1px;
padding:.313em .625em;
}

.home .primary-nav ul li.home a,.about .primary-nav ul li.about a,.work .primary-nav ul li.work a,.blog .primary-nav ul li.blog a,.jobs .primary-nav ul li.jobs a,.contact .primary-nav ul li.contact a,.primary-nav ul li a:hover {
-moz-border-radius:2px;
-webkit-border-radius:2px;
-o-border-radius:2px;
-ms-border-radius:2px;
-khtml-border-radius:2px;
border-radius:2px;
background-color: rgba(236, 208, 120, 0.5);
border:1px solid rgba(236, 208, 120, 0.4);
color:#222;
margin:0;
}

#content {
clear:both;
float:left;
overflow:visible;
width:100%;
padding:1.375em 0 2.75em;
}

#content-secondary {
border-top:1px solid #2d2d2d;
clear:both;
float:left;
padding-top:2.75em;
position:relative;
}

#content-secondary header {
position:absolute;
text-align:center;
top:-24px;
width:100%;
}

.ie7 #content-secondary header {
display:block;
position:relative;
top:auto;
width:100%;
}

#content-secondary div {
float:left;
margin-right:4.55%;
text-align:center;
width:30.3%;
}

.about #content-secondary div.item {
width:47.6%;
}

.ie7 #content-secondary div {
margin-right:4%;
}

#content-secondary div img {
-moz-transition-property:all;
-webkit-transition-property:all;
-o-transition-property:all;
transition-property:all;
-moz-transition-duration:.2s;
-webkit-transition-duration:.2s;
-o-transition-duration:.2s;
transition-duration:.2s;
}

#content-secondary .profile,#content-secondary .vacancy {
-moz-border-radius:4px;
-webkit-border-radius:4px;
-o-border-radius:4px;
-ms-border-radius:4px;
-khtml-border-radius:4px;
border-radius:4px;
background-color:rgba(0,0,0,0.042);
border:1px solid rgba(0,0,0,0.075);
position:relative;
width:90.39%;
padding:1.031em 4.805% 1.375em;
}


#content-secondary .profile img,#content-secondary .vacancy img {
-moz-border-radius:4px;
-webkit-border-radius:4px;
-o-border-radius:4px;
-ms-border-radius:4px;
-khtml-border-radius:4px;
border-radius:4px;
display:block;
float:none;
margin:0 auto 1.375em;
}

#content-secondary .profile header,#content-secondary .vacancy header {
clear:both;
margin-bottom:1.375em;
position:static;
}

#content-secondary .profile p,#content-secondary .vacancy p {
font-size:.875em;
margin-bottom:1.571em;
}

#content-secondary .profile .download-button,#content-secondary .vacancy .download-button {
margin-top:.688em;
}

#content-secondary .badge {
-moz-border-radius:50px;
-webkit-border-radius:50px;
-o-border-radius:50px;
-ms-border-radius:50px;
-khtml-border-radius:50px;
border-radius:50px;
font-family:museo-slab, museo-sans-rounded, "Helvetica Neue", Verdana, sans-serif;
font-weight:300;
text-shadow:none;
border:none;
color:rgba(255,255,255,0.75);
display:inline-block;
background-color:#2d2d2d;
float:none;
font-size:29px;
line-height:40px;
min-height:40px;
position:relative;
width:50px;
margin:.688em 10px 1.375em;
padding:20px 15px;
}

#headline {
margin-bottom:0;
text-align:center;
}

#slideshow {
min-height:582px;
overflow:hidden;
position:relative;
}





#content-secondary #no-vacancies .vacancy {
float:none;
width:50%;
margin:0 auto;
}

.contact #content-secondary {
border-bottom:1px solid #2d2d2d;
margin-bottom:4.125em;
padding-bottom:4.125em;
padding-top:4.125em;
width:100%;
}

.contact #content-secondary div {
text-align:left;
}

#contact img {
-moz-transition-property:width;
-webkit-transition-property:width;
-o-transition-property:width;
transition-property:width;
-moz-transition-duration:.2s;
-webkit-transition-duration:.2s;
-o-transition-duration:.2s;
transition-duration:.2s;
float:left;
width:48.863%;
margin:2.063em 4.55% 4.125em 0;
}

#contact .intro {
-moz-transition-property:padding;
-webkit-transition-property:padding;
-o-transition-property:padding;
transition-property:padding;
-moz-transition-duration:.2s;
-webkit-transition-duration:.2s;
-o-transition-duration:.2s;
transition-duration:.2s;
padding:4.125em 4.55% 0 0;
}

#contact .intro h2 {
line-height:1.333em;
}

div#location {
width:47.953%;
}

div#location iframe {
-moz-border-radius:4px;
-webkit-border-radius:4px;
-o-border-radius:4px;
-ms-border-radius:4px;
-khtml-border-radius:4px;
border-radius:4px;
border:1px solid #cbc9c5;
margin-bottom:1.375em;
min-height:325px;
width:99.62%;
}

div#location p {
margin-bottom:0;
text-align:left;
width:100%;
}



#social {
-moz-border-radius:4px;
-webkit-border-radius:4px;
-o-border-radius:4px;
-ms-border-radius:4px;
-khtml-border-radius:4px;
border-radius:4px;
background-color:rgba(236, 208, 120,0.4);
border:1px solid rgba(236, 208, 120,0.5);
clear:both;
font-size:.813em;
margin-bottom:1.375em;
overflow:hidden;
padding:.688em 0;
}

#social div {
float:left;
width:30.333333%;
padding:0 1.5%;
}


#social .networks ul {
margin:.688em 0;
}

#social .networks ul li {
background:none;
padding:.688em 0 .688em 30px;
}


#social .networks .twitter a {
color:#0098C5;
border-bottom:none;
}

#social .networks .twitter a:hover {
border-bottom:1px dashed #0098C5;
}

#social .networks .facebook a {
color:#446191;
border-bottom:none;
}

#social .networks .facebook a:hover {
border-bottom:1px dashed #446191;
}

#social .newsletter p {
margin-bottom:.688em;
}

#newsletter-subscribe label {
left:10px;
position:absolute;
top:8px;
z-index:2;
}

#newsletter-subscribe input {
float:left;
position:relative;
z-index:1;
}

#newsletter-subscribe input[type=text] {
margin-right:10px;
margin-top:1px;
width:60%;
}

#newsletter-subscribe input[type=submit] {
float:right;
height: 34px;
position:absolute;
right:0;
top:0;
}

#site-footer {
border-top:1px solid #2d2d2d;
clear:both;
padding-top:2.063em;
}

#site-footer .primary-nav {
font-size:.875em;
}

#site-footer .primary-nav a {
font-size:1em;
}


::selection,::-moz-selection {
text-shadow:none;
background:#EF0081;
color:#FFF;
}

h5,h6 {
font-size:1em;
line-height:1.333em;
margin-bottom:.688em;
}

h1,h2,h3,.primary-nav ul li a:active {
color:#2d2d2d;
}

h1:first-child,h2:first-child,h3:first-child,h4:first-child,.app .app-features ul,.app .app-stats ul {
margin-top:0;
}

img[align=left],.older_posts {
float:left;
}

img[align=middle],.ie7 #content-secondary header h2 {
display:block;
margin:0 auto 1.375em;
}

strong,dfn {
font-weight:700;
}

form ul.form-structure,.primary-nav ul,#categories ul,#comments ol {
list-style:none;
margin:0;
padding:0;
}

3%,1%,50%,#slideshow .slide.current {
opacity:1;
}

7%,30%,#slideshow #focus img.closed {
opacity:0;
}

.twitter-button,html.ie8 #content-secondary .badge,html.ie7 #content-secondary .badge,.app .iphone .mask img,.app .iphoneV .mask img,.app .ipad .mask img {
display:none;
}

.profile .twitter-anywhere-user,.profile .twitter-anywhere-user:hover {
border:none;
color:#FFF;
}

#site-header h1 a,.ie8 #site-header h1 a,.ie7 #site-header h1 a,#site-header div.logo a,.ie8 #site-header div.logo a,.ie7 #site-header div.logo a {
border:none;
display:block;
float:left;
height:37px;
text-indent:-9999px;
width:161px;
}

#content-secondary div:nth-child(3),#content-secondary div:last-child {
margin-right:0;
}

#content-secondary .profile h3,#content-secondary .vacancy h3,#headline h2,#headline p,.app:last-child,div#contact-form li:last-of-type,#social p {
margin-bottom:0;
}

.ie7 #slideshow .slide,.app .iphone .slide-container,.app .ipad .slide-container,#page-not-found {
position:relative;
}

#slideshow #invention img,#slideshow #inception img.head {
z-index:1;
}

#archive h1 a,#archive .blogtitle a,#archive .post h2 a,.sharepost .sharepop ul li a {
border:none;
}

.newer_posts,.app .app-purchase .app-store img {
float:right;
}

#work .intro h2,#about .intro h2,#jobs .intro h2,#page-not-found .intro h2 {
line-height:1.056em;
}

.app .iphone .responsive-spacer,.app .iphoneV .responsive-spacer {
float:left;
margin-left:10.857%;
width:78.571%;
}

.app .iphone img,.app .iphoneV img,.app .ipad img,#newsletter-subscribe {
float:left;
position:relative;
width:100%;
}

#content-secondary #no-vacancies,div#contact-form #contact-success {
width:100%;
}

@media screen and max-width 1050px,max-device-width 1024px {
html {
border:15px solid #2d2d2d;
padding:0 1.375em;
}

body {
font-size:.6em;
}

blockquote {
left:0;
margin-right:0;
padding:0 55px;
}

ul li {
-moz-background-size:12px auto;
-webkit-background-size:12px auto;
-o-background-size:12px auto;
background-size:12px auto;
background-position:left 3px;
padding-left:1.375em;
}

#comments {
padding-left:0;
}

#work {
min-height:400px;
padding-top:0;
}

#work p {
font-size:1.385em;
line-height:1.833em;
}

.app .app-purchase .app-icon {
-moz-border-radius:20px;
-webkit-border-radius:20px;
-o-border-radius:20px;
-ms-border-radius:20px;
-khtml-border-radius:20px;
border-radius:20px;
}

.app .app-features li {
background-position:left -68px;
padding-left:1.719em;
}

.app .app-stats li {
background-position:left 2px;
padding-left:1.719em;
}

#contact .intro {
padding-top:1.375em;
}

#social .networks ul li {
-moz-background-size:auto auto;
-webkit-background-size:auto auto;
-o-background-size:auto auto;
background-size:auto auto;
padding:.688em 0 .688em 30px;
}

#newsletter-subscribe {
text-align:left;
}

#newsletter-subscribe li {
float:left;
margin-bottom:0;
position:relative;
}

#newsletter-subscribe li:first-of-type {
margin-bottom:-20px;
margin-right:4%;
width:60%;
}

#newsletter-subscribe li input[type=text] {
float:left;
position:relative;
top:0;
width:74%;
z-index:1;
}

#newsletter-subscribe li label {
top:0;
z-index:2;
}

#slideshow #passion header,#slideshow #creativity header {
top:40px;
}

#slideshow #invention header,#slideshow #develop header {
top:220px;
}

.post #archive .post .post-category-icon,#archive .post .comment-count span,body:not(.post) #categories ul img {
display:none;
}

body.post #categories,body:not(.post) #categories {
margin-top:104px;
}
}

@media screen and max-width 920px {
#newsletter-subscribe input[type=text] {
width:50%;
}

.app .app-purchase .app-icon {
-moz-border-radius:18px;
-webkit-border-radius:18px;
-o-border-radius:18px;
-ms-border-radius:18px;
-khtml-border-radius:18px;
border-radius:18px;
}
}

@media screen and max-width 890px {
#page-not-found .intro {
padding-top:4.125em;
}

.app .app-purchase .app-icon {
-moz-border-radius:16px;
-webkit-border-radius:16px;
-o-border-radius:16px;
-ms-border-radius:16px;
-khtml-border-radius:16px;
border-radius:16px;
}
}

@media screen and max-width 830px {
.email-button,.twitter-button,.download-button {
width:100%;
}

body.home .values img {
max-height:175px;
max-width:75%;
}

#work .intro p {
font-size:1.231em;
line-height:1.375em;
}

#about img {
margin-left:0;
width:39.718%;
}

#about .intro {
-moz-transition-property:padding;
-webkit-transition-property:padding;
-o-transition-property:padding;
transition-property:padding;
-moz-transition-duration:.2s;
-webkit-transition-duration:.2s;
-o-transition-duration:.2s;
transition-duration:.2s;
padding-top:5.5em;
}

#work .intro,#jobs .intro {
padding-top:2.75em;
}
}

@media screen and max-width 680px,max-device-width 480px {
html {
border:none;
padding:0 1.375em;
}

body {
font-size:.75em;
margin:1.375em auto 4.125em;
}

blockquote {
-moz-background-size:21px auto,21px auto;
-webkit-background-size:21px auto,21px auto;
-o-background-size:21px auto,21px auto;
background-size:21px auto,21px auto;
padding:0 35px;
}

ul li {
-moz-background-size:10px auto;
-webkit-background-size:10px auto;
-o-background-size:10px auto;
background-size:10px auto;
background-position:left 3px;
padding-left:1.375em;
}

#site-header {
height:auto;
padding-bottom:1.375em;
}

#site-header h1,#site-header .logo {
display:block;
height:auto;
line-height:37px;
width:161px;
margin:0 auto;
}

#site-header h1 a,#site-header .logo a {
display:block;
float:none;
margin:0 auto;
}

.primary-nav {
float:none;
margin-top:7px;
}

.primary-nav ul {
clear:both;
padding-top:1.375em;
text-align:center;
}

.primary-nav ul li {
display:inline;
float:none;
margin-left:.188em;
}

.primary-nav ul li a {
-moz-transition-property:background-color;
-webkit-transition-property:background-color;
-o-transition-property:background-color;
transition-property:background-color;
-moz-transition-duration:.2s;
-webkit-transition-duration:.2s;
-o-transition-duration:.2s;
transition-duration:.2s;
border:none;
font-size:1em;
margin:1px;
padding:.188em .313em;
}

.primary-nav ul li a:active {
color:#2d2d2d;
}

.home .primary-nav ul li.home a,.about .primary-nav ul li.about a,.work .primary-nav ul li.work a,.blog .primary-nav ul li.blog a,.jobs .primary-nav ul li.jobs a,.primary-nav ul li a:hover {
-moz-border-radius:4px;
-webkit-border-radius:4px;
-o-border-radius:4px;
-ms-border-radius:4px;
-khtml-border-radius:4px;
border-radius:4px;
background-color:rgba(0,0,0,0.075);
border:1px solid rgba(0,0,0,0.15);
color:#2d2d2d;
margin:0;
}

#content {
float:none;
}

#content-secondary {
padding-top:1.375em;
}

.home #content-secondary {
border-top:none;
}

#content-secondary .item,.about #content-secondary div.item {
border-bottom:1px dashed #cbc9c5;
padding-bottom:2.75em;
width:100%;
margin:0 0 2.75em;
}

#content-secondary .item:last-child {
border:none;
padding:0;
}

#content-secondary .badge {
font-size:18px;
line-height:26px;
min-height:25px;
position:relative;
text-align:center;
width:30px;
padding:10px 8px;
}

#content-secondary .badge img {
height:25px;
left:24.5%;
top:10px;
width:25px;
}

#content-secondary .badge img.developer {
left:22%;
}

#headline h2 {
line-height:1em;
}

#slideshow header h2 {
-moz-border-radius:4px;
-webkit-border-radius:4px;
-o-border-radius:4px;
-ms-border-radius:4px;
-khtml-border-radius:4px;
border-radius:4px;
text-shadow:none;
background-color:#2d2d2d;
border:0;
color:#FFF;
display:inline-block;
font-size:1.385em;
position:relative;
padding:.082em .344em;
}

#slideshow header h2:before {
content:"";
border:7px solid transparent;
border-top-color:#2d2d2d;
bottom:-14px;
position:absolute;
left:15px;
}

#slideshow #slideshow-mask {
min-height:178px;
}

#slideshow .slide img {
margin-bottom:15px;
margin-top:20px;
}

#slideshow #passion header {
right:5px;
top:20px;
}

#slideshow #passion.animate header {
-moz-animation-name:none;
-webkit-animation-name:none;
-ms-animation-name:none;
animation-name:none;
right:5px;
top:20px;
}

#slideshow #creativity header {
left:5px;
top:20px;
}

#slideshow #creativity.animate header {
-moz-animation-name:none;
-webkit-animation-name:none;
-ms-animation-name:none;
animation-name:none;
left:5px;
top:20px;
}

#slideshow #invention header {
left:15px;
top:100px;
}

#slideshow #invention.animate header {
-moz-animation-name:none;
-webkit-animation-name:none;
-ms-animation-name:none;
animation-name:none;
left:15px;
top:100px;
}

#slideshow #focus header {
left:10px;
top:140px;
}

#slideshow #focus.animate header {
-moz-animation-name:none;
-webkit-animation-name:none;
-ms-animation-name:none;
animation-name:none;
left:10px;
top:110px;
}

#slideshow #develop header {
left:10px;
top:20px;
}

#slideshow #inception header {
right:10px;
top:20px;
}

#slideshow #design header {
left:20px;
top:20px;
}

#slideshow #design.animate header {
-moz-animation-name:none;
-webkit-animation-name:none;
-ms-animation-name:none;
animation-name:none;
left:20px;
top:20px;
}

#archive {
margin-right:0;
width:100%;
}

#categories {
width:100%;
margin:2.75em 0;
}

#categories ul img {
display:inline;
}

#categories li a {
background:none;
padding-left:0;
}

body.post #categories,body:not(.post) #categories {
margin-top:2.75em;
}

#comment-form input[type=text] {
width:94%;
}

#comment-form textarea {
max-width:94%;
width:94%;
}

#work img {
display:block;
float:none;
width:85%;
margin:1.375em auto;
}

.app {
border-bottom:1px dashed #cbc9c5;
clear:both;
float:left;
margin:0 0 2.75em;
}

.app:last-child {
border-bottom:0;
margin-bottom:2.75em;
}

.app .ipad {
display:block;
float:none;
max-width:500px;
overflow:auto;
position:relative;
width:100%;
margin:0 auto;
}

.app .app-details {
margin-right:0;
padding-top:0;
width:100%;
}

.app .app-purchase .app-icon {
float:left;
width:100px;
}

.app .app-points {
border-top:none;
padding-top:0;
margin-top:.688em;
}

.app .app-features,.app .app-stats {
font-size:.813em;
}

.app .app-features ul,.app .app-stats ul {
margin-top:0;
}

.app .app-features li,.app .app-stats li {
background-position:left -56px;
}

.app .app-stats li {
background-position:left 3px;
}

#content-secondary #no-vacancies .vacancy {
margin-bottom:2.75em;
width:auto;
}

#contact img {
display:block;
float:none;
width:41.947%;
margin:1.375em auto;
}

#contact .intro h2 {
font-size:1.769em;
margin-bottom:.688em;
}

.contact #content-secondary #location iframe {
height:100px;
width:80%;
margin:0 0 1.375em 10%;
}

.contact #content-secondary #location p {
margin-bottom:2.75em;
text-align:center;
}

#social div {
float:left;
width:96%;
padding:0 2% 1.375em;
}

#social div:nth-child(2) {
margin-bottom:1.375em;
width:94%;
background:none;
}

#social div:nth-child(2) li {
-moz-background-size:12px auto;
-webkit-background-size:12px auto;
-o-background-size:12px auto;
background-size:12px auto;
padding-left:28px;
}

#newsletter-subscribe input[type=text] {
top:0px;
width:65%;
}

#page-not-found img {
-moz-transition-property:width;
-webkit-transition-property:width;
-o-transition-property:width;
transition-property:width;
-moz-transition-duration:.2s;
-webkit-transition-duration:.2s;
-o-transition-duration:.2s;
transition-duration:.2s;
display:block;
float:none;
width:90%;
margin:1.375em auto;
}

#page-not-found .intro {
-moz-transition-property:padding;
-webkit-transition-property:padding;
-o-transition-property:padding;
transition-property:padding;
-moz-transition-duration:.2s;
-webkit-transition-duration:.2s;
-o-transition-duration:.2s;
transition-duration:.2s;
position:static;
text-align:center;
width:100%;
padding:0;
}

#company-info {
	font-size: 5px !important;
-moz-background-size:29px auto;
-webkit-background-size:29px auto;
-o-background-size:29px auto;
background-size:29px auto;
background-position:left 3px;
padding-left:35px;
}

.sharepost .sharepop {
right:-1px;
}

.sharepost .sharepop::before {
width:28%;
left:116px;
}

.sharepost .sharebutton {
width:15px;
min-height:4px;
background-size:20px 17px;
background-position:14px 12px;
}

#headline p,#slideshow header p,#archive .blogtitle,#archive .post .post-meta span,#company-info span {
display:none;
}

#slideshow #develop.animate header,#slideshow #inception.animate header {
-moz-animation-name:none;
-webkit-animation-name:none;
-ms-animation-name:none;
animation-name:none;
right:10px;
top:20px;
}

#work .intro,#about .intro,#jobs .intro,#contact .intro {
-moz-transition-property:padding;
-webkit-transition-property:padding;
-o-transition-property:padding;
transition-property:padding;
-moz-transition-duration:.2s;
-webkit-transition-duration:.2s;
-o-transition-duration:.2s;
transition-duration:.2s;
text-align:center;
padding:0 0 2.75em;
}

.app .iphone,.app .iphoneV {
display:block;
float:none;
max-width:350px;
overflow:auto;
position:relative;
width:75%;
margin:0 auto;
}

#about img,#jobs img {
display:block;
float:none;
width:51.046%;
margin:1.375em auto;
}

.contact #content-secondary #location,div#contact-form {
width:100%;
}
}

@media screen and max-width 340px {
.app-promo .title {
font-size:1.6em;
}

.app-promo .icon {
margin-right:.5em;
}

.app-promo .subtext {
display:block;
padding-top:5px;
}

.app-promo .app-store-badge {
width:60px;
height:auto;
margin:-4px 2px 0 0;
}

.app-promo .off {
display:none;
}
}